<form asp-action="Create">
    <label>Ma sinh vien:</label>
    <input type="number" name="StudentID" value="1">
    <br>
    <label>Ho ten sinh vien:</label>
    <input type="text" name="StudentName" value="Nguyen Van a">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>